* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:focus {
    outline: 0
}

.app {
    display: none;
}

.unsupported {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20%;
    background-color: #eaeaea;
}

.unsupported--icon {
    font-size: 200px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 130px;
    color: #adadad;
}

.unsupported--title,
.unsupported--text {
    opacity: .6;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.unsupported--title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.unsupported--text {
    font-size: 16px;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .unsupported {
        display: none;
    }
    .app {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .header {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #000;
        max-height: 60px;
        padding: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #424242;
    }
    .header--action-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .header--action-link {
        color: white;
        text-decoration: none;
        height: 35px;
        min-width: 40px;
        padding: 5px 10px;
        border: 1px solid #424242;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 12px;
        border-radius: 3px;
        background: rgb(41, 41, 41);
        background: -webkit-linear-gradient(180deg, rgba(41, 41, 41, 1) 0%, rgba(3, 3, 3, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(41, 41, 41, 1)), to(rgba(3, 3, 3, 1)));
        background: -webkit-linear-gradient(top, rgba(41, 41, 41, 1) 0%, rgba(3, 3, 3, 1) 100%);
        background: -o-linear-gradient(top, rgba(41, 41, 41, 1) 0%, rgba(3, 3, 3, 1) 100%);
        background: linear-gradient(180deg, rgba(41, 41, 41, 1) 0%, rgba(3, 3, 3, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#292929", endColorstr="#030303", GradientType=1);
    }
    .header--action-link .icon {
        font-size: 20px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-top: -4px;
    }
    .header--action-link .text {
        margin: 0 5px;
        ;
    }
    .header--title-container {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        color: white;
        text-align: center;
    }
    .header--title-container h1 {
        margin: 0;
        font-weight: normal;
        font-size: 18px;
    }
    .header--logo-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 10%;
    }
    .body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        overflow-y: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: url("./images/background.png") no-repeat center center fixed;
        background-size: cover;
        padding: 15px;
    }
    .detail-page {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .detail-page--img-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-bottom: 15px;
    }
    .detail-page--img-container img {
        border: 3px solid white;
    }
    .detail-page--info-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .detail-page--info {
        color: white;
        font-size: 14px;
    }
    .detail-page--info h2 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
    .detail-page--info address {
        color: #a3caec;
        font-style: normal;
    }
    .detail-page--info a[href^="tel"] {
        color: white;
    }
    .detail-page--nav-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .detail-page--mobile-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #d0d0d0;
        border-radius: 3px;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    .detail-page--nav-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding: 10px;
        color: #1b2c3d;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px solid #eaeaea;
        background: rgb(232, 235, 238);
        background: -webkit-linear-gradient(180deg, rgba(232, 235, 238, 1) 0%, rgba(193, 206, 219, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 235, 238, 1)), to(rgba(193, 206, 219, 1)));
        background: -webkit-linear-gradient(top, rgba(232, 235, 238, 1) 0%, rgba(193, 206, 219, 1) 100%);
        background: -o-linear-gradient(top, rgba(232, 235, 238, 1) 0%, rgba(193, 206, 219, 1) 100%);
        background: linear-gradient(180deg, rgba(232, 235, 238, 1) 0%, rgba(193, 206, 219, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8ebee", endColorstr="#c1cedb", GradientType=1);
    }
    .detail-page--nav-link:hover {
        cursor: pointer;
    }
    .detail-page--nav-link .text {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .detail-page--nav-link .icon {
        font-size: 20px;
    }
    .footer--copyright-container {
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
}